<p>service works!</p>

<!-- 

 <table class="table table-borderd/info">

<thead>

    <tr>
        <th>userId</th>
        <th>userId</th>
        <th>userId</th>

    </tr>
</thead>
<tbody>

 <tr *ngFor="let x of dataStored">

    <td>{{x.userId}}</td>
        <td>{{x.id}}</td>
        <td>{{x.title}}</td>

 </tr>

</tbody>


</table>  -->


 
<table class="table table-bordered">
    <thead>
<tr>
    <th>userId</th>
    <th>id</th>
    <th>title</th>
    
</tr>
</thead>
<tbody>
    <tr *ngFor="let x of  storingVariable">
        <td>{{x.userId}}</td>
        <td>{{x.id}}</td>
        <td>{{x.title}}</td>
        
    </tr>
</tbody>

</table> 


